Data Science Coronavirus

In [2]:
import pandas as pd
import numpy as np

Dataset

In [3]:
#Database
#https://github.com/CSSEGISandData/COVID-19/tree/master/csse_covid_19_data?fbclid=IwAR1C6Cf_k5bpeEF5v1I9G-OlXeMZd0B1JreUw4ayc5tuOLYVSKvyunFaam8

base_url = 'https://raw.githubusercontent.com/CSSEGISandData/COVID-19/master/csse_covid_19_data/csse_covid_19_daily_reports'
lista_links = []
    #Getting the links for the month of January
for c in range(22, 32):
    lista_links.append(str(base_url+f'/01-{c}-2020.csv'))
#Getting the February links
for c in range(1, 30):
    if c <= 9:
        lista_links.append(str(base_url+f'/02-0{c}-2020.csv'))
    else:
        lista_links.append(str(base_url+f'/02-{c}-2020.csv'))
#Getting the March links
for c in range(1, 4):
    if c <= 9:
        lista_links.append(str(base_url+f'/03-0{c}-2020.csv'))
    else:
        lista_links.append(str(base_url+f'/03-{c}-2020.csv'))

In [4]:
lista = []
for c in lista_links:
    data = pd.read_csv(c)
    np.array(data)
    lista.append(data)

In [5]:
#Let's view a table individually to look at its columns
lista[0].head()

,Province/State,Country/Region,Last Update,Confirmed,Deaths,Recovered
0,Anhui,Mainland China,1/22/2020 17:00,1.0,NaN,NaN
1,Beijing,Mainland China,1/22/2020 17:00,14.0,NaN,NaN
2,Chongqing,Mainland China,1/22/2020 17:00,6.0,NaN,NaN
3,Fujian,Mainland China,1/22/2020 17:00,1.0,NaN,NaN
4,Gansu,Mainland China,1/22/2020 17:00,NaN,NaN,NaN

In [7]:
lista[0].tail()

,Province/State,Country/Region,Last Update,Confirmed,Deaths,Recovered
33,Yunnan,Mainland China,1/22/2020 17:00,1.0,NaN,NaN
34,Zhejiang,Mainland China,1/22/2020 17:00,10.0,NaN,NaN
35,NaN,Japan,1/22/2020 17:00,2.0,NaN,NaN
36,NaN,Thailand,1/22/2020 17:00,2.0,NaN,NaN
37,NaN,South Korea,1/22/2020 17:00,1.0,NaN,NaN

In [8]:
lista[0].info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 38 entries, 0 to 37
Data columns (total 6 columns):
Province/State    35 non-null object
Country/Region    38 non-null object
Last Update       38 non-null object
Confirmed         29 non-null float64
Deaths            1 non-null float64
Recovered         1 non-null float64
dtypes: float64(3), object(3)
memory usage: 1.9+ KB

In [9]:
round(lista[0].describe(),2)

       Confirmed  Deaths  Recovered
count      29.00     1.0        1.0
mean       19.14    17.0       28.0
std        81.88     NaN        NaN
min         1.00    17.0       28.0
25%         1.00    17.0       28.0
50%         2.00    17.0       28.0
75%         5.00    17.0       28.0
max       444.00    17.0       28.0

In [10]:
lista_mortos = []
lista_casos_confirmados = []
lista_recuperados = []

for c in range(0,len(lista)):
    lista_mortos.append((lista[c]['Deaths']).sum())
    lista_casos_confirmados.append((lista[c]['Confirmed']).sum())
    lista_recuperados.append((lista[c]['Recovered']).sum())

In [11]:
import matplotlib.pyplot as plt
x = [i for i in range(0, len(lista_mortos))]
plt.style.use('seaborn-talk')
y_mortos = lista_mortos
y_casos_confirmados = lista_casos_confirmados
y_recuperados = lista_recuperados
plt.plot(x, y_mortos, color='red', label='Number of dead', linewidth=3.0)
plt.plot(x, y_casos_confirmados, color='green', label='Confirmed Cases', linewidth=3.0)
plt.plot(x, y_recuperados, color='blue', label='Cured', linewidth=3.0)
plt.xlabel('Days since 1st case')
plt.ylabel('Individuals number')
plt.title('Evolution of the Corona Virus in the World')
#fig = plt.gcf()
#fig.set_size_inches(10, 8)
plt.grid(True)
plt.legend(loc='upper center')
plt.savefig('corona.png')
plt.show()

In [12]:
#To consult the available styles
np.reshape(plt.style.available, (1,-1))

array([['bmh', 'classic', 'dark_background', 'fast', 'fivethirtyeight',
        'ggplot', 'grayscale', 'seaborn-bright', 'seaborn-colorblind',
        'seaborn-dark-palette', 'seaborn-dark', 'seaborn-darkgrid',
        'seaborn-deep', 'seaborn-muted', 'seaborn-notebook',
        'seaborn-paper', 'seaborn-pastel', 'seaborn-poster',
        'seaborn-talk', 'seaborn-ticks', 'seaborn-white',
        'seaborn-whitegrid', 'seaborn', 'Solarize_Light2',
        'tableau-colorblind10', '_classic_test']], dtype='<U20')

In [13]:
dados_atuais = {'Number of dead':y_mortos[len(y_mortos)-1],
                'Confirmed Cases':y_casos_confirmados[len(y_casos_confirmados)-1],
                'Cured':y_recuperados[len(y_recuperados)-1]}

In [14]:
dados_atuais = pd.DataFrame([dados_atuais])

In [15]:
dados_atuais

   Number of dead  Confirmed Cases  Cured
0            3160            92844  48229

In [16]:
# Virus Mortality Rate
dados_atuais['Taxa_Mortalidade(%)'] = (dados_atuais['Number of dead']/dados_atuais['Confirmed Cases'])*100
dados_atuais

   Number of dead  Confirmed Cases  Cured  Taxa_Mortalidade(%)
0            3160            92844  48229             3.403559

In [17]:
import folium
from folium.plugins import HeatMap
mapa = folium.Map(location=[10,10],zoom_start=1.5,tiles='Stamen Toner')
locais = []

for x,i in zip(lista[len(lista)-1]['Latitude'], lista[len(lista)-1]['Longitude']):
    temp = [x,i]
    locais.append(temp)
HeatMap(locais, radius=20).add_to(mapa)
mapa.save('corona_mapa.html')

In [19]:
mapa